* {
  box-sizing: border-box;
  margin: 0;
  padding: 7;
}



html,
body {
  margin-top: 50px;
  height: 100px;
}

body {
  background-color: #a489fb;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
 }

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}
  h5 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
}




form {
  width: 300px;
  margin: auto;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
}

form .btn-login {
  display: inline-block;
  outline: 0;
  min-width: 100px;
  width: 100%;
  border: 0;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  
  }



/* ESTILO DO MENU  */
ul {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 420px;
    overflow: hidden;
    background-color: #333;

  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


/* APARIÇÃO DO FORM */

form {
  animation-name: freed;
  animation-duration: 700ms;
}

@keyframes freed {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


