@import url('https://fonts.googleapis.com/css?family=Chivo:900&display=swap');
 
html, 
body.SignIn {

}

h1 {
  font-size: 40px;
  font-family: 'Chivo', sans-serif;
  
  
  
}

h2 {
  font-size: 15px;
  font-family: 'Chivo', sans-serif;
  
  
}

#formSignin {
  width: 600px;
  margin: auto;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

/* APARIÇÃO DO FORM */

form {
  animation-name: freed;
  animation-duration: 700ms;
}

@keyframes freed {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

form .btn-login {
  display: inline-block;
  outline: 0;
  min-width: 100px;
  width: 100%;
  border: 0;
  background-color: #f56d0a;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  
  }

  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: #f56d0a;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #f56d0a;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #f56d0a;
  }
  

  #formSignin label{
    color: #f56d0a;
    font-weight: bold;
  }

  