/*.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
 
.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
 
.display-block {
  display: block;
}
 
.display-none {
  display: none;
}
 
/* ESTILO DO MENU  *//*
ul {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 420px;
    overflow: hidden;
    background-color: #333;
 
  }
  
  li {
    float: left;
 
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
   /*li a:hover {
    background-color: #111;
  }
   /* */
