@import url('https://fonts.googleapis.com/css?family=Chivo:900&display=swap');
 
html,
body#Login {
background-image: url(../Login/images/fundo.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 0%;
display: inline;
font-weight: bold;

}


h1 {
  font-size: 25px;
  font-family: 'Chivo', sans-serif;
  
}
h2 {
  font-size: 16px;
  font-family: 'Chivo', sans-serif;
  color: #DC143C; 
}
 
#formLogin {
  width: 280px;
  margin: 10%;
  background-size: cover;
  padding: 15px 15px;
  border-radius: 25px;
  color: #DC143C;
  background-color: rgb(200, 200, 200);
  position: left;

  
}
 
.message {
  font-size: 12px;
  text-align: center;
}
 
form ::placeholder {
font-size: 12px;
color: gray;

}
 
/* APARIÇÃO DO FORM */
 
form {
  animation-name: freed;
  animation-duration: 700ms;
}
 
@keyframes freed {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
 
.botaoLogar{
  outline: 0;
  min-width: 100px;
  width: 100%;
 
  background-color: #f56d0a;
  color: white;
  border-radius: 20px;
  margin: auto;
  padding: 5px;
  
  }
    
  form .input-block-Login label {
    font-size: 16px;
    color: #f56d0a;
  }
  
  form .input-block-Login input {
    width: 100%;
    display: block;
    margin-top: -4px;
    padding: 5px;
    font-size: 16px;
    color: #f56d0a;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #f56d0a;
  }