@import url('https://fonts.googleapis.com/css?family=Chivo:900&display=swap');

html, 
body {
background-image: url(../Login/images/fundo.jpg);
background-repeat: no-repeat;
background-size: cover;
padding-top: 0%;
display: inline;
font-weight: bold;
}

h1 {
  font-size: 25px;
  font-family: 'Chivo', sans-serif;
  
}

#formLogin {
  width: 280px;
  margin: 10%;
  background-size: cover;
  background-color: white;
  padding: 15px 15px;
  border-radius: 25px;
  color: #000000;
  
}

.message {
  font-size: 12px;
  text-align: center;
}

form ::placeholder {
font-size: 12px;
}

/* APARIÇÃO DO FORM */

form {
  animation-name: freed;
  animation-duration: 700ms;
}

@keyframes freed {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


form .btn-login {
  display: inline-block;
  outline: 0;
  min-width: 100px;
  width: 100%;
  border: 80;
  background-color: #f56d0a;
  color: white;
  border-radius: 20px;
  margin: auto;
  padding: 5px;
  
  }

    
  form .input-block label {
    font-size: 14px;
    color: #f56d0a;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: -4px;
    padding: 5px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
