.margin-10{
    margin: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right: 10px;
}

.bg{
    background-image: url("../assets/img/bg0.jpg");
    background-position: center top;
    background-size: 100% auto;
}

.inputMask{
      width: 525px;
    height: 35px;
    float: left;
    opacity: 230;
   
}