@import url('https://fonts.googleapis.com/css?family=Chivo:900&display=swap');

html body{
    background: #ffffff;
    width: auto;
    height: 1200px;
}

.cadastrar {   
    padding-top: 10px;
    padding-left: 3%;
    
    
    
}
