html body{
    background: #ffffff;
    width: auto;
    height: 1200px;
}
.cadastrar{
   
    width: 700px;
    height: auto;
    margin: auto;
    padding-left: 220px;
}

button: {
    margin: 15
  }

.cadastrar {
  font-size: 16px;
  font-family: 'Chivo', sans-serif;
  color: #DC143C;
}

form ::placeholder {
  font-style: 12px;
  color: gray;
  font-weight: normal;
}

form {
  width: 280px;
  margin: 10%;
}

