@import url('https://fonts.googleapis.com/css?family=Chivo:900&display=swap');


.cadastrar {   
    padding-top: 10px;
    padding-left: 3%;
   padding-left: 500px;
    background: #ffffff;
    width: auto;
    height: 1200px;
    
}
